
        <h1 class="h4">Add Movie/TV Show</h1>
        <a href="/" class="btn btn-primary mb-3">View Your Watched List</a>
        <form>
            <div class="form-group">
                <label for="media-title">Media Name</label>
                <input type="text" class="form-control" id="media-title" placeholder="Input Movie/TV show title...">
            </div>

            <div class="form-group">
                <label for="platform">Watched On</label>
                <select class="form-control" id="platform" name="platform_id">
            <option value="">None</option> <!-- Default option for "None" -->
            {{#each platforms}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
            </select>
            </div>

            <div class="form-group">
                <label for="watched-date">Date of Watching</label>
                <input type="date" class="form-control" id="watched-date">
            </div>

            <div class="form-group">
                <label for="rating">Rating</label>
                <select class="gl-star-rating--stars" id="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
                
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>

{{! handle errors by showing a toast }}
<div
  class="toast"
  id="submission-error"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-delay="10000"
>
  <div class="toast-header">
    <i
      class="bi bi-exclamation rounded mr-1"
      style="font-size: 2rem; color: red;"
    ></i>
    <strong class="mr-auto">Error</strong>
<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    An unexpected error occurred during form submission, please try again later.
  </div>
</div>

<div
  class="toast"
  id="missing-fields"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-delay="10000"
>
  <div class="toast-header">
    <i
      class="bi bi-exclamation rounded mr-1"
      style="font-size: 2rem; color: red;"
    ></i>
    <strong class="mr-auto">Missing fields</strong>
<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    There seems to be fields missing, please check your form and try again.
  </div>
</div>

<script src="/js/form.js"></script>
