  <div class="profile-header">
    <img
      src="/assets/images/profile.png"
      alt="Profile Picture"
      class="profile-picture"
    />
    <p class="h5 mb-1">Welcome to CineJournal</p>
  </div>
  <div class="mt-4">
    <h1 class="h4">Register</h1>
    <form class="signup-form">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Enter your first name"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Surname</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Enter your surname"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter your password"
        />
      </div>
      <div class="form-group">
        <label for="password">Enter in your password again</label>
        <input
          type="password"
          class="form-control"
          id="password-confirm"
          placeholder="Enter your password again"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
  </div>

{{! handle errors by showing a toast }}
<div
  class="toast"
  id="password-mismatch"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-delay="10000"
>
  <div class="toast-header">
    <i
      class="bi bi-exclamation rounded mr-1"
      style="font-size: 2rem; color: red;"
    ></i>
    <strong class="mr-auto">Password mismatch!</strong>
    <button
      type="button"
      class="ml-2 mb-1 close"
      data-dismiss="toast"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    The passwords you entered do not match, please try again.
  </div>
</div>
<div
  class="toast"
  id="password-length"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-delay="10000"
>
  <div class="toast-header">
    <i
      class="bi bi-exclamation rounded mr-1"
      style="font-size: 2rem; color: red;"
    ></i>
    <strong class="mr-auto">Password too short!</strong>
    <button
      type="button"
      class="ml-2 mb-1 close"
      data-dismiss="toast"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Please enter a password that is at least 8 characters long.
  </div>
</div>
<div
  class="toast"
  id="register-error"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-delay="10000"
>
  <div class="toast-header">
    <i
      class="bi bi-exclamation rounded mr-1"
      style="font-size: 2rem; color: red;"
    ></i>
    <strong class="mr-auto">Error</strong>
    <button
      type="button"
      class="ml-2 mb-1 close"
      data-dismiss="toast"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    An unexpected error occurred while registering, please try again later. Your account may already exist
  </div>
</div>
<div
  class="toast"
  id="register-warning"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-delay="10000"
>
  <div class="toast-header">
    <i
      class="bi bi-exclamation rounded mr-1"
      style="font-size: 2rem; color: red;"
    ></i>
    <strong class="mr-auto">Missing fields</strong>
    <button
      type="button"
      class="ml-2 mb-1 close"
      data-dismiss="toast"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    There seems to be fields missing, please check your form and try again.
  </div>
</div>
<div
  class="toast"
  id="register-exists"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-delay="10000"
>
  <div class="toast-header">
    <i
      class="bi bi-exclamation rounded mr-1"
      style="font-size: 2rem; color: red;"
    ></i>
    <strong class="mr-auto">User already exists!</strong>
    <button
      type="button"
      class="ml-2 mb-1 close"
      data-dismiss="toast"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    This email has already registered for an account, please try logging in or use a different email.
  </div>
</div>
{{!-- load the register.js script --}}
<script src="./js/register.js"></script>