<div class="container-custom">
    <div class="profile-header">
        <img src="/assets/images/profile.png" alt="Profile Picture" class="profile-picture">
        <p class="h5 mb-1">Welcome to CineJournal</p>
    </div>
    <div class="mt-4">
        <h1 class="h4">Register</h1>
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
            <div class="form-group">
                <label for="password">Enter in your password again</label>
                <input type="password" class="form-control" id="password-confirm" placeholder="Enter your password again">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
</div>