    <link rel="stylesheet" href="/css/watchlist.css">
    <div class="container-custom">
        <!-- Profile Header -->
        <div class="profile-header">
            <img src="/assets/images/profile.png" alt="Profile Picture" class="profile-picture">
            <p class="h5 mb-1">Your Watched List</p>
        </div>

        <!-- Media List (media cards will be populated here by JavaScript) -->
        <div class="media-list mt-4">
            {{!-- loop --}}
            {{#each entriesData as |entry|}}
            <div class="media-card">

                {{!-- replace Title with handlebars data --}}
                <h5 class="media-title">{{entry.media_title}}</h5> 
                {{!-- replace Netflix with hbars data --}}
                <p class="media-details">Watched on: {{entry.platform_id}}</p>
                {{!-- replace date --}}

                <p class="media-details">Date: {{format_date entry.watched_ts}}</p>
                <div class="media-details">
                    {{!-- figure this out later --}}
                    <label>Rating:</label>
                    <div class="gl-star-rating">
                        <select class="gl-star-rating--stars" data-rating="5">
                            <option value="1" selected="">1</option>
                            <option value="2" selected="">2</option>
                            <option value="3" selected="">3</option>
                            <option value="4" selected="">4</option>
                            <option value="5" selected="">5</option>
                        </select>
                    </div>
                </div>
            </div>
            
            {{!-- loop end --}}
            {{/each}}
        </div>

        <!-- Add New and Log Out section -->
        <div class="bottom-section">
            <a href="/form" class="btn btn-primary btn-block">Add New</a>
            <div class="logout-link mt-2">
                <a href="/login">Log Out</a>
            </div>
        </div>
    </div>
    {{!-- <script src="/js/watchlist.js"></script> --}}