<body></body>
    <div class="container-custom">
        <!-- Profile Header -->
        <div class="profile-header">
            <img src="/assets/images/profile.png" alt="Profile Picture" class="profile-picture">
            <p class="h5 mb-1">Your Watched List</p>
        </div>

        <!-- Media List (media cards will be populated here by JavaScript) -->
        <div class="media-list mt-4"></div>

        <!-- Add New and Log Out section -->
        <div class="bottom-section">
            <a href="./form.html" class="btn btn-primary btn-block">Add New</a>
            <div class="logout-link mt-2">
                <a href="./login.html">Log Out</a>
            </div>
        </div>
    </div>