.container-custom {
    max-width: 375px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-image: url('/assets/images/formbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    color: white;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.btn {
    background-color: #5a67d8;
    color: white;
}
