header {
  border-bottom: 1px solid #ccc;
}

.toast {
  background-color: #f8f8d7;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  background-image: url('/assets/images/formbackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 170px;
  color: white;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-header p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn {
  color: white;
  padding: 10px 20px;
}

.form-group {
  margin-bottom: 20px;
}

.container {
  padding: 15px;
  max-width: 1200px;
  width:95%;
  margin:auto;
}

.rating {
  margin-top: 20px;
}